*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* hero-section */
.hero-section{
  height: 100vh;
  background-image: url(../images/images/desktop/image-header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-section header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 10vh;
}
.hero-section .nav-links{
  display: flex;
  justify-content: space-between;
  width: 300px;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: white;
}
.sm-navbar{
  display: none;
}
.sm-navbar button{
  background-color: transparent;
  border-color: transparent;
}
.creative{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}
.creative h3{
padding-bottom: 20px;
font-size: 40px;
color: white;
text-align: center;
}
.creative .image{
  width: 15%;
}
.creative .image img{
  width: 100%;
}
/* section */
section{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
img{
  width: 100%;
  height: auto;
}
section .box-text{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 50vh;
  text-align: center;
}
section .box-text .align-left{
  padding: 15px 40px ;
  text-align: left;
}
section .box-text .align-left h2{
  font-size: 50px;
  padding-bottom: 20px;
}
section .box-text .align-left p{
  font-size: 20px;
  padding-bottom: 20px;
}
section .box-text .align-left a{
  font-size: 15px;
  color: black;
  font-weight: bolder;
  padding-bottom: 20px;
}
section .box-picture-image{
  width: 100%;
}
section .box-picture-text{
  width: 100%;
  position: relative;
}
section .box-picture-text .big-text{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  position: absolute;
  bottom: 90px;

}
section .box-picture-text .text{
  width: 70%;
  text-align: center;
}
section .box-picture-text .text h2{
  font-size: 30px;
}
section .box-picture-text .text p{
  font-size: 20px;
}
section .box-picture-text2{
  width: 100%;
}
section .box-picture-text2{
  width: 100%;
  position: relative;
}
section .box-picture-text2 .big-text{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  height: 20vh;
  position: absolute;
  bottom: 90px;

}
section .box-picture-text2 .text{
  width: 70%;
  text-align: center;
}
section .box-picture-text2 .text h2{
  font-size: 30px;
}
section .box-picture-text2 .text p{
  font-size: 20px;
}
.heading{
  text-align: center;
}

/* Client testimonies */
.client-testimonies{
  padding-top: 20px;
}
.client-testimonies h2{
  text-transform: capitalize;
}
.client{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}
.testimonies{
  text-align: center;
  padding: 10px 25px;
  margin-bottom: 20px;
}
.testimonies .user-pics {
  width: 90px;
  margin-left: auto;
  margin-right: auto;
}
.testimonies .user-pics img {
  width: 100%;
  border-radius: 100px;
}
.testimonies .user-comment {
  color: hsl(212, 27%, 19%);
  margin-bottom: 20px;
}


/* hgroup */
hgroup {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
hgroup .footer-image{
  width: 100%;
}
hgroup .footer-image img{
  width: 100%;
}

footer {
  background-color: hsl(168, 34%, 41%);
  height: 50vh;
  margin: 0;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-footer h2 {
  text-align: center;
  font-size: 30px;
  padding-top: 30px;
}
.footer-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
  padding-top: 40px;
  padding-bottom: 70px;
}
.footer-list li a {
  color: black;
  font-size: 20px;
}
.footer-list li {
  padding: 0 20px;
}
.contact-icons{
  font-size: 20px;
}
.contact-icons .fa-brands{
  margin-left: 20px;
  padding: 13px;
  border: 2px solid white;
  border-radius: 26px;
}
.fa-brands:hover{
  color: blue;
}






/* mobile responsiveness */
@media (max-width:800px) {
 header .none{
    display: none;
    background-color: blue;
  }
  .sm-navbar{
    display: block;
  }
  .sm-navbar .nav-items{
    display: none;
  }
  section{
    display: block;
  }
section .box-picture-text .big-text{
  bottom: 40px;
}
section .box-picture-text2 .big-text{
  bottom: 40px;
}
.client{
  display: block;
}
hgroup{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

}
@media (min-width:550px){
  .creative .image{
    width: 9%;
  }
}